<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 组件扫描 -->
    <context:component-scan base-package="com.sswh"/>


    <!-- mvc的注解驱动 -->
    <mvc:annotation-driven/>

    <!-- mvc静态资源的访问 -->
    <mvc:default-servlet-handler/>

    <!-- 加载db.properties配置文件 -->
    <!-- <context:property-placeholder location="classpath:db.properties"/> -->
    <!-- 创建数据源 c3p0 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <property name="driverClass" value="net.sf.log4jdbc.DriverSpy"/>
        <property name="jdbcUrl" value="jdbc:log4jdbc:mysql://106.13.169.253:3306/sswh?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="user" value="root"/>
        <property name="password" value="Qwer@1234"/>
    </bean>


    <!-- 事务的管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置基于注解的事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"></tx:method>
            <tx:method name="del*" propagation="REQUIRED"></tx:method>
            <tx:method name="update*" propagation="REQUIRED"></tx:method>
            <tx:method name="*" read-only="true"></tx:method>
        </tx:attributes>
    </tx:advice>
    <!--<aop:config>
        <aop:pointcut id="frontMethod" expression="execution(* com.sswh.front.support.*(..)) || execution(* com.sswh.platform.controller.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="frontMethod"></aop:advisor>
    </aop:config>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--项目配置文件-->
<!--    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/front/**"/>
            <mvc:exclude-mapping path="/front/login.do"/>
            <bean class="com.sswh.interceptors.BaseInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->


    <import resource="spring_shiro.xml"></import>
    <import resource="spring_mybatis.xml"></import>
    <import resource="spring_redis.xml"></import>
</beans>











