<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <!-- mvc的注解驱动 -->
    <mvc:annotation-driven/>

    <!-- mvc静态资源的访问 -->
    <mvc:default-servlet-handler/>

    <!-- 配置基于注解的事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"></tx:method>
            <tx:method name="del*" propagation="REQUIRED"></tx:method>
            <tx:method name="update*" propagation="REQUIRED"></tx:method>
            <tx:method name="*" read-only="true"></tx:method>
        </tx:attributes>
    </tx:advice>
    <!--<aop:config>
        <aop:pointcut id="frontMethod" expression="execution(* com.sswh.front.support.*(..)) || execution(* com.sswh.platform.controller.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="frontMethod"></aop:advisor>
    </aop:config>-->
 <!--   <aop:aspectj-autoproxy/>
    <bean class="com.sswh.aop.SessionValidateFilter"></bean>-->

    <!--项目配置文件-->
<!--    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/front/**"/>
            <mvc:exclude-mapping path="/front/login.do"/>
            <bean class="com.sswh.interceptors.BaseInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->
    <!--    映入java配置-->
    <bean class="com.sswh.config.SswhSystemConfig"></bean>
    <import resource="spring_shiro.xml"></import>
    <import resource="spring_mybatis.xml"></import>
    <import resource="spring_redis.xml"></import>
</beans>











