<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    ">
	<context:component-scan base-package="com.sswh" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<mvc:default-servlet-handler />
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors">
			<list>
				<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
			</list>
		</property>
		<property name="order" value="0" />
	</bean>
	<!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
		<!--<property name="order" value="1" />-->
		<!--<property name="webBindingInitializer">-->
			<!--<bean class="com.hanweb.common.util.mvc.MvcDataBinder"></bean>-->
		<!--</property>-->
		<!--<property name="messageConverters">-->
			<!--<list>-->
				<!--<bean class="com.hanweb.common.util.mvc.DefaultStringHttpMessageConverter">-->
					<!--<property name="writeAcceptCharset" value="false"></property>-->
					<!--<property name="supportedMediaTypes">-->
						<!--<list>-->
							<!--<value>text/html;charset=UTF-8</value>-->
							<!--<value>text/xml;charset=UTF-8</value>-->
							<!--<value>application/atom+xml;charset=UTF-8</value>-->
							<!--<value>application/json;charset=UTF-8</value>-->
							<!--<value>application/xhtml+xml;charset=UTF-8</value>-->
						<!--</list>-->
					<!--</property>-->
				<!--</bean>-->
				<!--<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />-->
				<!--<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />-->
				<!--<bean class="org.springframework.http.converter.support.AllEncompassingFormHttpMessageConverter" />-->
				<!--&lt;!&ndash;<bean class="com.hanweb.common.util.mvc.JsonHttpMessageConverter" />&ndash;&gt;-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean class="com.hanweb.common.exception.MvcExceptionResolver">-->
		<!--<property name="statusCodes">-->
			<!--<props>-->
				<!--<prop key="support/error/404">404</prop>-->
				<!--<prop key="support/error/404">403</prop>-->
				<!--<prop key="support/error/error">500</prop>-->
			<!--</props>-->
		<!--</property>-->
		<!--<property name="exceptionMappings">-->
			<!--<props>-->
				<!--<prop key="Exception">support/error/error</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->
	<!--<mvc:interceptors>-->
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/dologin.do" />-->
			<!--<mvc:mapping path="/setup/dologin.do" />-->
			<!--<mvc:mapping path="/manager/user/modify_password_submit.do" />-->
			<!--<bean class="com.hanweb.complat.interceptor.CsrfDefInterceptor" />-->
		<!--</mvc:interceptor>-->
	<!--</mvc:interceptors>-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean>
	<import resource="springxml/springMVC-servlet-project.xml"/>
</beans>
